name: Build stubs
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  
  jekyll:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
      - name: Install bundler and dependencies
        run: |
          cd web/jekyll
          gem install bundler
          bundle install
      - name: Build website
        run: |
          cd web/jekyll
          bundle exec jekyll build
