- name: Build the site
  # Need to make this idempotent
  ansible.builtin.shell:
    chdir: builds/clone/web/jekyll/
    cmd: |
      eval "$(rbenv init - bash)"
      rbenv install -s `cat .ruby-version`
      gem install bundler
      bundle install
      bundle exec jekyll build

- name: Point a symlink to the build
  ansible.builtin.file:
    src: /home/almalinux/builds/clone/web/jekyll/_site
    dest: /var/www/html/jekyll
    state: link
  notify: Restart httpd
  become: true

- name: Tell SELinux that the linked folder is A-OK
  ansible.builtin.command: chcon -R -t httpd_sys_content_t /var/www/html/jekyll/
  become: true

- name: Set up the apache config
  become: true
  ansible.builtin.copy:
    src: jekyll.conf
    dest: /etc/httpd/conf.d/jekyll.conf
  notify: Restart httpd

